{% extends 'pages/base.html' %}

{% block body %}

    <h1>Blog List</h1>
    {% if blogs %}
        <ul>
            {% for blog in blogs %}
                <li>
                    <h2>{{ blog.title }}</h2>
                    <p>{{ blog.content }}</p>
                    <p>Created at: {{ blog.created_at }}</p>
                    <p>Blog_id: {{blog.id}}</p>
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blogs found.</p>
    {% endif %}

{% endblock %}
