{% extends  'pages/base.html' %} 
{% load static %}

{% block category %}
 {% for entertainment_post in entertainment_posts %}
   <div class="row main-row">
     <div class="col-xl-4 d-flex align-items-center">
       {% if entertainment_post.image %}
       <img src="{{ entertainment_post.image }}" alt="no_image" class="w-100 main-post-image">
       {% else %} 
       <img src="{% static 'images/no_image.png' %}" alt="no_image" class="w-100">
       {% endif %}
     </div>
     <div class="col">
       <a class="post-title" href="{% url 'post_detail' category=entertainment_post.category post_id=entertainment_post.id %}">{{ entertainment_post.title }} ({{ entertainment_post.author }})</a>
       <p class="post-category">{{ entertainment_post.category }}</p>
       <p>{{ entertainment_post.description }}</p>
     </div>
   </div>
   <hr>
   {% endfor %}
 {% endblock %}

 {% block sidebar %} 
  <div class="row right-sidebar" >
    <button class="recent-btn" id="entertainment-recent-btn">Recent</button>
    <button class="popular-btn" id="entertainment-popular-btn">Popular</button>
  </div>
  {% for _ in "12345" %}
  <div class="row sidebar-row">
    <div class="col d-flex align-items-center">
      <img src="" alt="" class="w-100 sidebar-post-image">
    </div>
    <div class="col">
      <div class="row">
        <a class="sidebar-post-title"></a>
      </div>
      <div class="row">
        <p class="sidebar-post-description"></p>
      </div>
    </div>
  </div>
  <hr>
  {% endfor %}
 {% endblock %}